<div class="home-container">
    <div class="intro">
      <h1>Welcome to mini-cypris</h1>
      <p>
        Explore millions of open-access research papers in real-time using the CORE API.  
        Enter keywords, use Boolean operators (e.g. <code>drone AND (package OR delivery)</code>),
        and even limit your results. View instant publication-year charts, drill into metadata,
        and download PDFs — all from one minimal interface.
      </p>
    </div>
  
    <div class="mode-selector">
        <label>
          <select [(ngModel)]="mode">
            <option value="search">Search Papers</option>
            <option value="agg">Aggregation Search</option>
          </select>
        </label>
      </div>
    
      <div class="search-wrapper">
        <ng-container [ngSwitch]="mode">
          <app-search *ngSwitchCase="'search'"></app-search>
          <app-aggregate-search *ngSwitchCase="'agg'"></app-aggregate-search>
        </ng-container>
      </div>
  </div>
  